body {
  background-image: url(../img/wp-redspace.jpg);
  background-size: cover;
  
  color: white;
}
.container {
  text-align: center;
  max-width: 1000px;
  width: auto;
  margin: auto;
}
.wrapper {
  display: inline-block;
}
h1 {
  font-size: 200px;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
}
.buttons {
  margin: 10px;
  float: left;
  padding: 10px;
  font-size: 20px;
  border: 4px solid white;
  border-radius: 50px;
  margin-bottom: 30px;
}

.social {
  text-align: center;
}

.icon { 
  padding: 30px;
}

a
 {
  color: white;
  
}